<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jedi_awakens WatchKit App (Glance).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>jedi_awakens WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>jedi_awakens WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>jedi_awakens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1C5E9371CDA6CC80039DEA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1C5E94B1CDA6CC80039DEA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1C5E9561CDA6CC80039DEA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1C5E95F1CDA6CC80039DEA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
